.favouritesPage {
    width: 100%;
    margin: 0 auto;
    background-color: #111;
    min-height: 100vh;
    & .favouritesRenderBlock {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & .container {
            display: flex;
            justify-content: start;
            gap: 30px;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}


@media (max-width: 1120px) {
    .favouritesPage .favouritesRenderBlock .container .singleFilmBlock {
        width: 45%;
        gap: 6px;
    }
}

@media (max-width: 792px) {
    .favouritesPage .favouritesRenderBlock .container .singleFilmBlock {
        width: 94%;
    }
}