.loadingPart {
    width: 100%;
    min-height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & .container {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        & .block {
            animation: loadAnimation 2s infinite;
        }
    }
}

@keyframes loadAnimation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}