footer {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111dc;
    border-top: 0.5px solid rgb(65, 64, 64);
    & .container {
        align-items: center;
        justify-content: center;
        & .block {
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            opacity: 0.5;
        }
    }
}
.secSpan {
    font-size: 15px;
    font-weight: 300;
}